.App {
  background: #f4f4f4;
  border: 1px solid #777;
  color: black;
  padding: 6px 20px;
  border-radius: .3em;
  position: absolute;
  left: 40%;
}

.change {
  cursor: pointer;
  color: blue;
}

.delete {
  cursor: pointer;
  color: red;
}

.save {
  cursor: pointer;
  color: green;
}

.changeArea {
  height: 1.5em;
}
.infoList {
  font-size: 1em;
}
.title {
  font-size: 70px;
  color: lightblue;
  text-align: center;
}

.enterLine {
  background: #f4f4f4;
  border: 1px solid #777;
  color: black;
  padding: 6px 10px;
  border-radius: .3em;
  word-wrap: initial;
}

.addButton {
  display: none;
}

.toDoLine {
  background: #f4f4f4;
  border: 1px solid #777;
  color: black;
  padding: 6px 10px;
  border-radius: .3em;
  word-wrap: initial;
}